{% load static %}
{% load tags %}



<html lang="en">
<link rel="stylesheet" href="{% static 'site_media/css/styles.css' %}">

<body>
    <header class="header">
                    <div class="logo">
                        <a href="{% url 'app:index' %}" ><img src="{% static 'site_media/icons/eshop-icon.svg' %}"
                                                              alt="Logo Icon" width="80" height="80"/></a>
                    </div>
                    <div class="shop-info">
                        <h2> Магазин электротехники - E-Shop </h2>
                    </div>
                    <div class="search-bar">
                    <form class="search-form" role="search" action="{% url 'catalog:search'%}" method="get" >
                        <input type="search" name="q" placeholder="Поиск товара" aria-label="Search">
                        <button type="submit">Поиск</button>
                    </form>
                    </div>
                    <div class="nav-links">
                        <li><a href="{% url 'users:users_cart'%}" class="cart-button">
                                <span class="cart-icon">
                                    <img src="{% static 'site_media/icons/cart-shopping.svg' %}" alt="Cart Icon" width="50" height="50"/>
                                </span>
                                <span class="cart-text">
                                    {% load carts_tag %}
                                    {% user_carts request as carts %}
                                    {{ carts.total_quantity }}
                                </span>
                            </a>
                        </li>
                    </div>
                    {% if not user.is_authenticated %}
                        <li>
                        <a  href="{% url 'users:login' %}" class="login-link">Войти</a>
                        </li>
                    {% else %}
                    <li><a href="{% url 'users:profile' %}" class="cabinet-link">Личный кабинет({{request.user.username}})</a></li>
                        {% if user.is_admin or user.is_staff %}
                    <li><a href="{% url 'admin:index'%}" class="admin-link">Админ панель</a></li>
                        {% endif %}
                    <li><a href="{% url 'users:logout' %}" class="logout-link">Выход</a></li>
                    {% endif %}

    </header>
    <section class="section">
        <div class="container">
            <!-- Каталог-->
            <div class="sidebar">
                    <ul class="category-list">
                        {% tags_categories as categories %}
                        {% for category in categories %}
                        <li><a href="{% url 'catalog:index' category.slug %}">{{category.name}}</a></li>
                        {% endfor %}
                    </ul>
            </div>

            </div>
        <!-- Контент -->
        <div>
            <div >
                <div class="content" >
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
{% block footer %}
    <footer class="footer">
        <div>
            <li><a href="{% url 'app:contacts' %}">Контактная информация</a></li>
            <li><a href="{% url 'app:about' %}">О нас</a></li>
            <p>Copyright &copy; 2024 E-Shop</p>
        </div>
    </footer>
{% endblock %}


</body>

</html>