{% load static %}
{% load tags %}
{% load carts_tag %}

{% user_carts request as carts %}

<!--<!DOCTYPE html>-->

<html lang="en">

<body>
    <header>
                    <div class="logo">
                        <a href="{% url 'app:index' %}" ><img src='site_media/icons/catalog-icon.svg' alt=""/>E-Shop</a>
                    </div>
                    <form role="search" action="{% url 'catalog:search'%}" method="get" >
                        <input type="search" name="q" placeholder="Поиск товара" aria-label="Search">
                        <button type="submit">Поиск</button>
                    </form>
                        <div class="nav">
                            <li> <a  href="{% url 'app:delivery' %}">Доставка и оплата</a> </li>
                            <li> <a  href="{% url 'users:users_cart'%}">Корзина ({{ carts.total_quantity }}) </a> </li>
                        </div>
                        {% if not user.is_authenticated %}
                            <li>
                            <a class="nav_enjoy" href="{% url 'users:login' %}">Войти</a>
                            </li>
                        {% else %}
                        <li><a href="{% url 'users:profile' %}">Личный кабинет</a>
                            {% if user.is_admin or user.is_staff %}
                        <li><a href="{% url 'admin:index'%}">Админстративная панель</a></li>
                            {% endif %}
                        <li><a href="{% url 'users:logout' %}">Выход</a></li>
                        {% endif %}

    </header>
    <section>
        <div class="container">
            <!-- Каталог и корзина с фиксированным расположением на странице -->
            <div>
                    <ul>
                        {% tags_categories as categories %}
                        {% for category in categories %}
                        <li><a href="{% url 'catalog:index' category.slug %}">{{category.name}}</a></li>
                        {% endfor %}
                    </ul>
            </div>

            </div>
        <!-- Контент -->
        <div>
            <div>
                <div>
                    <!-- Пустой блок на Ваше усмотрение -->
                    <!-- Контент на странице -->
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
    {% block footer %}




    {% endblock %}

</body>

</html>