{% extends "basic.html" %}
{% load static %}



{% block content %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'site_media/css/styles_users.css' %}">


</head>
<div class="auth-container">
    <div class="auth-form">
        <h2>Авторизация</h2>
        <form action="{% url 'user:login' %}" method="post">
            {% csrf_token %}
            {% if request.GET.next %}
                <input type="hidden" name="next" value={{request.GET.next}}>
            {% endif %}
            <div>
                <label for="id_username">Имя пользователя:</label>
                <input type="text" name="username" id="id_username" placeholder="Введите имя пользователя" required>
            </div>
            <div>
                <label for="id_password">Пароль:</label>
                <input type="password" name="password" id="id_password" placeholder="Введите пароль" required>
            </div>
            <button type="submit">Войти</button>
        </form>
        <div>
            <a href="#">Забыли пароль?</a> | <a href="{% url 'users:registration' %}">Зарегистрироваться</a>
        </div>
        <hr>
    </div>
</div>
{% endblock %}


{% block footer %}
<footer class="footer">
    <div >
        <li><a href="{% url 'app:contacts' %}">Контактная информация</a></li>
        <li><a href="{% url 'app:about' %}">О нас</a></li>
        <p>Copyright &copy; 2024 E-Shop</p>
    </div>
</footer>
{% endblock %}


