{% extends "basic.html" %}
{% load static %}

<html lang="en">


{% block content %}
<div class="container">
    <div class="profile-container">
        <div>
            <!-- Профиль с данными пользователя -->
            <div >
                <div >
                    <h3 >Профиль пользователя</h3>
                    <form class="profile-form" action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div >
                            <div >
                                {% if user.image %}
                                    <img src="{{ user.image.url }}"
                                        alt="Аватар пользователя"
                                        style="max-width: 250px;">
                                {% else %}
                                    <img src="{% static 'site_media/icons/image_not_found.jpeg' %}"
                                        alt="Аватар пользователя"
                                        style="max-width: 190px;">
                                {% endif %}
                                <input type="file"
                                    name='image'
                                    accept="image/*">
                                    {% if form.image.errors %}
                                    <div >{{form.image.errors}}</div>
                                    {% endif %}
                            </div>
                            <div >
                                <label for="id_first_name" >Имя</label>
                                <input type="text"  id="id_first_name"
                                    name="first_name"
                                    placeholder="Введите ваше имя"
                                    value="{{ form.first_name.value }}"
                                    required>
                                    {% if form.first_name.errors %}
                                    <div>{{form.first_name.errors}}</div>
                                    {% endif %}
                            </div>
                            <div >
                                <label for="id_last_name" >Фамилия</label>
                                <input type="text"  id="id_last_name"
                                    name="last_name"
                                    placeholder="Введите вашу фамилию"
                                    value="{{ form.last_name.value }}"
                                    required>
                                    {% if form.last_name.errors %}
                                    <div >{{form.last_name.errors}}</div>
                                    {% endif %}
                            </div>
                            <div >
                                <label for="id_username">Имя пользователя</label>
                                <input type="text" id="id_username"
                                    name="username"
                                    placeholder="Введите ваше имя пользователя"
                                    value="{{ form.username.value }}"
                                    required>
                                    {% if form.username.errors %}
                                    <div>{{form.username.errors}}</div>
                                    {% endif %}
                            </div>
                            <div >
                                <label for="id_email" >Email</label>
                                <input type="email"  id="id_email"
                                    name="email"
                                    placeholder="Введите ваш email *youremail@example.com"
                                    value="{{ form.email.value }}"
                                    required>
                                    {% if form.email.errors %}
                                    <div >{{form.email.errors}}</div>
                                    {% endif %}
                            </div>
                        </div>
                        <button type="submit">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="orders-container">
    <div class="orders-header">
        <h3>Мои заказы</h3>
    </div>
    <div class="orders-list">
        <div class="accordion" id="accordionExample">
            {% for order in orders %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ order.id }}">
                    <button class="accordion-button {% if order != orders.0 %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ order.id }}" aria-expanded="false" aria-controls="collapse{{ order.id }}">
                        Заказ № {{ order.id }} - {{ order.created_timestamp }} | Статус: <strong>{{ order.requires_delivery }}</strong>
                    </button>
                </h2>
                <div id="collapse{{ order.id }}" class="accordion-collapse collapse {% if order == orders.0 %}show{% endif %}" aria-labelledby="heading{{ order.id }}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Товар</th>
                                    <th scope="col">Количество</th>
                                    <th scope="col">Цена</th>
                                    <th scope="col">Общая стоимость</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in order.orderitem_set.all %}
                                <tr>
                                    <td><a href="{% url 'goods:product' item.product.slug %}">{{ item.product.name }}</a></td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>{{ item.products_price }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}
</html>

{% block footer %}
<footer class="footer">
    <div >
        <li><a href="{% url 'app:contacts' %}">Контактная информация</a></li>
        <li><a href="{% url 'app:about' %}">О нас</a></li>
        <p>Copyright &copy; 2024 E-Shop</p>
    </div>
</footer>
{% endblock %}
