{% extends "basic.html" %}
{% load static %}


{% block content %}
<body>
    <div class="registration-container">
        <div class="registration-form">
            <h2>Регистрация</h2>
            <form action="{% url 'user:registration' %}" method="post">
                {% csrf_token %}
                <div>
                    <label for="id_first_name">Имя*</label>
                    <input type="text" id="id_first_name" value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}" name="first_name" placeholder="Введите имя" required>
                    {% if form.first_name.errors %}
                    <div>{{ form.first_name.errors }}</div>
                    {% endif %}
                </div>
                <div>
                    <label for="id_last_name">Фамилия*</label>
                    <input type="text" id="id_last_name" value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}" name="last_name" placeholder="Введите фамилию" required>
                    {% if form.last_name.errors %}
                    <div>{{ form.last_name.errors }}</div>
                    {% endif %}
                </div>
                <div>
                    <label for="id_username">Имя пользователя*</label>
                    <input type="text" id="id_username" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" name="username" placeholder="Введите имя пользователя" required>
                    {% if form.username.errors %}
                    <div>{{ form.username.errors }}</div>
                    {% endif %}
                </div>
                <div>
                    <label for="id_email">Email*</label>
                    <input type="email" id="id_email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" name="email" placeholder="Введите email" required>
                    {% if form.email.errors %}
                    <div>{{ form.email.errors }}</div>
                    {% endif %}
                </div>
                <div>
                    <label for="id_password1">Пароль*</label>
                    <input type="password" id="id_password1" value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}" name="password1" placeholder="Введите пароль" required>
                    {% if form.password1.errors %}
                    <div>{{ form.password1.errors }}</div>
                    {% endif %}
                </div>
                <div>
                    <label for="id_password2">Подтверждение пароля*</label>
                    <input type="password" id="id_password2" value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}" name="password2" placeholder="Подтвердите пароль" required>
                    {% if form.password2.errors %}
                    <div>{{ form.password2.errors }}</div>
                    {% endif %}
                </div>
                <button type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</body>

{% endblock %}

{% block footer %}
<footer class="footer">
    <div >
        <li><a href="{% url 'app:contacts' %}">Контактная информация</a></li>
        <li><a href="{% url 'app:about' %}">О нас</a></li>
        <p>Copyright &copy; 2024 E-Shop</p>
    </div>
</footer>
{% endblock %}
