{% extends "basic.html" %}
{% load static %}

{% block content %}
    <div>
        <div>
            <div>
                <div>
                    <h3>Корзина </h3>
                    <div>
                        <!-- Разметка корзины -->
                        {% include 'carts/includes/cart.html' %}
                        <!-- Закончилась разметка корзины -->
                    </div>
                    {% if carts %}
                    <a href="">
                        Оформить заказ
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}

{% block footer %}
    <footer>
        <div>
            <p>Copyright &copy; 2024 E-Shop</p>
        </div>
    </footer>
{% endblock %}