{% load static %}
{% load carts_tag %}
{% if user.is_authenticated %}
    {% user_carts request as carts %}
{% endif %}

{% block content %}
    <div>
        {% for cart in carts %}
            <div>
                <h5>{{ cart.product.name }}</h5>
            </div>
            <ul>
                <li>
                    <div>
                        <div>
                            <div>
                                <span>
                                    <button type="button"
                                        data-cart-id="" data-cart-change-url="">-</button>
                                </span>
                                <input type="text" value="{{ cart.quantity }}"
                                    readonly>
                                <span>
                                    <button type="button" class="btn btn-dark btn-sm increment"
                                        data-cart-id="" data-cart-change-url="">+</button>
                                </span>
                            </div>
                        </div>
                        <div>
                            <p>x {{ cart.product.sell_price }} ₽ = </p>
                        </div>
                        <div><strong> {{ cart.products_price }} ₽</strong> </div>
                        <div>
                            <a href="{% url 'cart:cart_remove' cart.id %}" data-cart-id="">
                                <img src="{% static 'site_media/icons/delete_icon.svg' %}"
                                    alt="Catalog Icon" width="16" height="16">
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        {% endfor %}
    </div>
    <div>
        <div>
            <p>Итого <strong>{{ carts.total_quantity }}</strong> товар(-а, -ов) на сумму: <strong> {{ carts.total_price }} ₽</strong> </p>
        </div>
    </div>
{% endblock %}



