{% load static %}
{% load carts_tag %}


{% block content %}
    <div>
        {% for cart in carts %}
            <div class="cart-item">
                <h5>{{ cart.product.name }}</h5>
                <ul>
                    <li>
                        <div>
                            <div>
                                <div class="quantity-controls">
                                    <form action="{% url 'cart:cart_change' product_slug=cart.product.slug %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="remove">
                                        <button type="submit">-</button>
                                    </form>
                                    <input type="text" value="{{ cart.quantity }}" readonly>
                                    <form action="{% url 'cart:cart_change' product_slug=cart.product.slug %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="add">
                                        <button type="submit">+</button>
                                    </form>
                                </div>
                        </div>
                            <div class="quantity-controls .additional-info">
                            <div>
                                <p>x {{ cart.product.sell_price }} ₽ = </p>
                            </div>
                            <div><strong> {{ cart.products_price }} ₽</strong></div>
                            <div>
                                <a href="{% url 'cart:cart_remove' cart.id %}" data-cart-id="">
                                    <img src="{% static 'site_media/icons/delete_icon.svg' %}"
                                         alt="Delete Icon" width="16" height="16">
                                </a>
                            </div>
                        </div>
                        </div>
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>
    <div class="cart-total">
        <div>
            <p>Итого <strong>{{ carts.total_quantity }}</strong> товар(-а, -ов) на сумму: <strong> {{ carts.total_price }} ₽</strong></p>
        </div>
    </div>
{% endblock %}


