{% extends "basic.html" %}
{% load static %}
{% load carts_tag %}

{% block content %}
<div>
    <div>
        <h3>Выбранные товары</h3>
        <div id="cart-items-container">
            <!-- Разметка корзины -->
            {% user_carts request as carts %}

            {% include "carts/includes/cart.html" %}
                {% if messages %}

    <ul>
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }} </li>
        {% endfor %}
    </ul>

    {% endif %}
            <!-- Закончилась разметка корзины -->
        </div>
    </div>
    <!-- Детали заказа -->
    <div>
        <h3 >Детали заказа</h3>
        <div>
            <div>
                <form action="{% url 'orders:create_order' %}" method="post">
                    {% csrf_token %}
                    <div>
                        <div>
                            <label for="id_first_name" class="form-label">Имя:</label>
                            <input type="text"  id="id_first_name"
                                value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                                name="first_name" required>
                            {% if form.first_name.errors %}
                                <div> {{form.first_name.errors}}</div>
                            {% endif %}
                        </div>
                        <div>
                            <label for="id_last_name" >Фамилия:</label>
                            <input type="text"  id="id_last_name" name="last_name"
                            value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                            required>
                            {% if form.last_name.errors %}
                                <div>{{form.last_name.errors}}</div>
                            {% endif %}
                        </div>
                        <div>
                            <label for="id_phone_number" >Номер телефона(без кода страны):</label>
                            <input type="text" class="form-control" id="id_phone_number" name="phone_number"
                                value="{% if form.phone_number.value %}{{ form.phone_number.value }}{% endif %}"
                                placeholder="Введите 10 цифр номера"
                                required>
                            {% if form.phone_number.errors %}
                                <div >{{form.phone_number.errors}}</div>
                            {% endif %}
                        </div>
                        <div>
                            <label for="delivery" class="form-label">Способ доставки: </label>
                            <div>
                                <input type="radio" name="requires_delivery"
                                    id="id_requires_delivery" value="1" checked>
                                <label  for="id_requires_delivery">Доставка</label>
                            </div>
                            <div>
                                <input class="form-check-input" type="radio" name="requires_delivery"
                                    id="id_requires_delivery" value="0">
                                <label class="form-check-label" for="id_requires_delivery">Самовывоз</label>
                            </div>
                        </div>
                        <div  id="deliveryAddressField">
                            <label for="id_delivery_address" >Адрес
                                доставки:</label>
                            <textarea  id="id_delivery_address"
                                value="{% if form.delivery_address.value %}{{ form.delivery_address.value }}{% endif %}"
                                name="delivery_address" rows="2"></textarea>
                            {% if form.delivery_address.errors %}
                                <div>{{form.delivery_address.errors}}</div>
                            {% endif %}
                        </div>
                        <div>
                            <label class="form-label">Способ оплаты: </label>
                            <div>
                                <input  type="radio" name="payment_on_get"
                                    id="id_payment_on_get" value="0" checked>
                                <label for="id_payment_on_get">Оплата
                                    картой</label>
                            </div>
                            <div>
                                <input type="radio" name="payment_on_get"
                                    id="id_payment_on_get" value="1">
                                <labelfor="id_payment_on_get">Наличными/картой
                                    при получении</label>
                                {% if form.payment_on_get.errors %}
                                    <div >{{form.payment_on_get.errors}}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark">Оформить заказ</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock  %}


{% block footer %}
    <footer class="footer">
        <div>
            <li><a href="{% url 'app:contacts' %}">Контактная информация</a></li>
            <li><a href="{% url 'app:about' %}">О нас</a></li>
            <p>Copyright &copy; 2024 E-Shop</p>
        </div>
    </footer>
{% endblock %}