{% extends "basic.html" %}
{% load static %}
{% load tags %}

{% block content %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'site_media/css/styles-catalog-product.css' %}">


</head>

<div >
    <!-- Форма фильтров -->
    <div>
        <button type="button"
            aria-expanded="false">
            Фильтры
        </button>

        <form action="{% if request.GET.q %}{% url 'catalog:search' %}{% else %}{% url 'catalog:index' slug_url %}"
              {% endif %}
              method="get" >
            <div>
                <input type="checkbox" name="on_sale" id="flexCheckDefault" value="on"
                       {% if request.GET.on_sale == 'on' %} checked {% endif %}>
                {% if request.GET.q %}
                <input type="hidden" name="q" value="{{request.GET.q}}">
                {% endif %}
                <label for="flexCheckDefault">
                    Товары по акции
                </label>
            </div>
            <p>Сортировать:</p>
            <div>
                <input type="radio" name="order_by" id="flexRadioDefault1" value="default"
                {% if not request.GET.order_by or request.GET.order_by == 'default' %} checked {% endif %}>
                <label  for="flexRadioDefault1">
                    По умолчанию
                </label>
            </div>
            <div>
                <input type="radio" name="order_by" id="flexRadioDefault2" value="price"
                {% if request.GET.order_by == 'price' %} checked {% endif %}>
                <label for="flexRadioDefault2">
                     Сначала недорогие
                </label>
            </div>
            <div>
                <input type="radio" name="order_by" id="flexRadioDefault3" value="-price"
                {% if request.GET.order_by == '-price' %} checked {% endif %}>
                <label for="flexRadioDefault3">
                    Сначала дорогие
                </label>
            </div>
            <button type="submit">Применить</button>
        </form>
    </div>


{% for product in goods %}
    <!-- Карта товара -->
    <div>
        <div>
            {% if product.image  %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" width="150" height="190">
            {% else %}
                <img src="{% static 'site_media/icons/image_not_found.jpeg' %}"
                     alt="{{ product.name }}" width="150" height="190">
            {% endif %}
            <div >
                <a href="{% url 'catalog:product' product.slug %}">
                    <p class="card-title">{{ product.name }}</p>
                </a>
                <p >{{ product.description }}</p>
                <p >Артикул: {{ product.display_id }}</p>
                <div>
                    <!--Блок цены и скидки-->
                    {% if product.discount %}
                        <p><s>{{ product.price }}</s></p>
                        <p><strong>{{ product.sell_price }}</strong></p>
                        <span>Скидка: {{ product.discount }}%</span>
                    {% else %}
                    <p><strong>{{product.price}} </strong></p>
                    {% endif %}

                    <a href="{% url 'cart:cart_add' product_slug=product.slug %}" class="btn add-to-cart"
                        data-product-id="{{ product.id }}">
                            {% csrf_token %}
                    <img src="{% static 'site_media/icons/cart-shopping.svg' %}" alt="Catalog Icon"
                            width="32" height="32">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

</div>
<!-- Пагинация -->
<nav aria-label="Page navigation example">
    <ul>
        <div>
            <li class="page-item {% if not goods.has_previous %} disabled {% endif %}">
              <a class="page-link" href="{% if goods.has_previous %}?{% change_params page=goods.previous_page_number %}{% else %}
              ?
              {% endif %}
              ">Предыдущая</a>
            </li>

            {% for page in goods.paginator.page_range %}
            {% if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
                <li class="page-item {% if goods.number == page %} activate {% endif %}">
                    <a class="page-link" href="?{% change_params page=page %}">{{page}}</a>
                </li>
            {% endif %}
            {% endfor %}

            <li class="page-item {% if not goods.has_next %} disabled {% endif %}">
              <a class="page-link" href="{% if goods.has_next%}?
              {% change_params page=goods.next_page_number %}{% else %}?
              {% endif %}
              ">Следующая</a>
            </li>
        </div>
    </ul>
</nav>





{% endblock %}

{% block footer %}
    <footer class="footer">
        <div>
            <li><a href="{% url 'app:contacts' %}">Контактная информация</a></li>
            <li><a href="{% url 'app:about' %}">О нас</a></li>
            <p>Copyright &copy; 2024 E-Shop</p>
        </div>
    </footer>
{% endblock %}