{% extends "basic.html" %}
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'site_media/css/styles-catalog-product.css' %}">


</head>
{% block content %}

                    <div>
                        <div>
                            <div>
                                <!-- Товар -->
                                <div>
                                    <img src="{{ product.image.url }}"
                                        data-bs-toggle="modal" data-bs-target="#imageModal1" width="150" height="190">
                                </div>
                                <div>
                                    <p>Артикул: {{ product.display_id }}</p>
                                </div>
                            </div>
                            <!-- Описание товара -->
                            <div>
                                <p>Цена: <strong> {{ product.sell_price}} ₽</strong></p>
                                <h5>{{ product.name }}</h5>
                                <p> {{ product.description }}</p>
                                <a href="{% url 'cart:cart_add' product.slug %}" >Добавить в корзину</a>
                            </div>
                        </div>
                    </div>

{% endblock %}

{% block footer %}
    <footer class="footer">
        <div>
            <li><a href="{% url 'app:contacts' %}">Контактная информация</a></li>
            <li><a href="{% url 'app:about' %}">О нас</a></li>
            <p>Copyright &copy; 2024 E-Shop</p>
        </div>
    </footer>
{% endblock %}