{% extends "basic.html" %}
{% load static %}


{% block content %}

                    <div>
                        <div>
                            <div>
                                <!-- Товар -->
                                <div>
                                    <img src="{{ product.image.url }}"
                                        data-bs-toggle="modal" data-bs-target="#imageModal1" width="150" height="190">
                                </div>
                                <div>
                                    <p>Артикул: {{ product.display_id }}</p>
                                </div>
                            </div>
                            <!-- Описание товара -->
                            <div>
                                <p>Цена: <strong> {{ product.sell_price}}</strong></p>
                                <h5>{{ product.name }}</h5>
                                <p> {{ product.description }}</p>
                                <a href="{% url 'cart:cart_add' product.slug %}" class="btn btn-dark add-to-cart">Добавить в корзину</a>
                            </div>
                        </div>
                    </div>

{% endblock %}